<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/icon/love-song.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

    <script src="{% static 'scripts/page-behavior.js' %}" defer></script>
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <script src="{% static 'scripts/media-player.js' %}" defer></script>
    <script src="{% static 'scripts/responsive.js' %}" defer></script>
    <title>Spotimine</title>
  </head>
  <body>
    <!-- Create ´playList Objets -->
    <script type="text/javascript">
      const myPlayLists = []
      const songsList = []
      let myList = {}
      {% for playlist in playlists %}

            myList = {
          name: "{{ playlist.name }}",
          songs:[
              {% for song in playlist.songs.all %}
                  {% if not forloop.first %},{% endif %}
                  {
                      title: "{{ song.name }}",
                      author: "{{ song.artist }}",
                      file: "{{ song.file.url }}",
                      img: "{% if song.image %} {{ song.image.url }} {% else %} {{ song.image_link }} {% endif %}"
                  }
              {% endfor %}
          ]
          }
          myPlayLists.push(myList)
          myList = {}
      {% endfor %}
    </script>
    <header id="main-header"></header>

    <main class="main">
      <div id="overlay"></div>

      <!--Sidebar section-->

      <aside>
        <div id="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="sidenav">
          <div class="nav-item">
            <a href="{% url 'audios:Index' %}"
              ><i class="fa-sharp fa-solid fa-house"></i> Inicio
            </a>
          </div>
          <!-- <div class="nav-item">
            <a href="#"><i class="fa-solid fa-table-list"></i> Biblioteca </a>
          </div> -->
          <div class="line"></div>
          <div class="songs-container"></div>
        </nav>
      </aside>

      <div class="container">
        {% block content %}
        <!-- content -->
        {% endblock %}
        <div class="media-space"></div>
      </div>
    </main>

    <!-- Media Player -->

    <div class="title-author">
      <h4 class="song-title-author"></h4>
    </div>
    <div class="media-player">
      <div class="son-info">
        <div class="lef">
          <img class="playing-song-img" src="" alt="song-img" />
        </div>
        <div class="right">
          <h4 class="song-title"></h4>
          <span class="song-author"></span>
        </div>
      </div>
      <div class="music-player-container">
        <div class="main-song-controls">
          <img
            src="{% static 'img/mediaPlayer/previous.svg' %}"
            alt=""
            class="icon previous"
            id="previousSong"
          />
          <!--
            <img
              src="{% static 'img/mediaPlayer/Backward.svg' %}"
              alt=""
              class="icon"
              id="Back10"
            />
            -->
          <img
            src="{% static 'img/mediaPlayer/Play.svg' %}"
            alt=""
            class="icon"
            id="PlayPause"
          />
          <!--
            <img
              src="{% static 'img/mediaPlayer/Forward.svg' %}"
              alt=""
              class="icon"
              id="Plus10"
            />
            -->
          <img
            src="{% static 'img/mediaPlayer/next.svg' %}"
            alt=""
            class="icon next"
            id="nextSong"
          />
        </div>
        <div class="controls-music-container">
          <div class="progress-bar">
            <span class="progress"></span>
          </div>
        </div>
        <div class="time-container">
          <span class="time-left" id="CurrentSongTime"></span>
          <span class="divisor"> / </span>
          <span class="time-lef" id="SongLength"></span>
        </div>
        <audio controls preload="metadata" src=""></audio>
      </div>
      <div class="volume-controls vol-disable">
        <img
          src="{% static 'img/mediaPlayer/volume.svg' %}"
          alt=""
          class="icon"
          id="vol"
        />
        <input type="range" step="any" id="volume-slider" class="slider" />
      </div>
    </div>
  </body>
</html>
