/* Some media queries for responsiveness */

#overlay {
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgba(36, 27, 27, 0.692);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

#navMenu {
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 1;
}

#navMenu > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: #818181;
}

#navMenu > span:not(:last-child) {
  margin-bottom: 7px;
}

#navMenu,
#navMenu > span {
  transition: all 0.4s ease-in-out;
}

#navMenu.active > span:nth-child(1) {
  transition-delay: 0.8s;
  transform: translateY(9px) rotate(-45deg);
}

#navMenu.active > span:nth-child(2) {
  width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}

#navMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

@media screen and (max-width: 870px) {
  #overlay.active {
    visibility: visible;
  }

  #navMenu {
    visibility: visible;
  }

  .sidenav {
    visibility: hidden;
    width: 0%;
    z-index: 100;
    transition: 0.4s;
  }

  .sidenav.active {
    visibility: visible;
    width: 50%;
    transition: all 0.4s ease-in-out;
  }

  .container {
    margin-left: 0;
    width: 100%;
  }

  .index-title {
    font-size: 2rem;
  }

  .icon {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  h2 {
    margin: 2rem 0 0 2rem;
  }

  .playlists,
  .songs {
    max-width: 100%;
    display: flex;
    overflow: auto;
    flex-wrap: unset;
  }

  .see-more {
    padding: 0;
  }

  .see-more a {
    display: block;
    color: #818181;
    position: relative;
    font-size: 0.8rem;
    font-weight: 900;
    width: 8rem;
    padding: 1rem;
  }

  .son-info {
    display: none;
  }

  .title-author {
    display: block;
    background: #0f0f0fd7;
    width: 100%;
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .song-title-author {
    color: #ccc;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: horizontal;
  }

  .add-song {
    opacity: 1;
    filter: drop-shadow(5px 5px 5px #111);
  }

  /* Media Player */
  .media-player {
    display: block;
  }

  .main-song-controls {
    height: 35px;
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  .music-player-container {
    width: 100%;
    margin: 20px auto;
  }

  .time-container {
    display: inline;
    text-align: center;
    margin: 5px;
  }

  .time-left {
    margin: 20px auto;
  }

  .divisor.active {
    visibility: visible;
  }

  .vol-disable {
    display: none;
  }
}
