@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Unbounded:wght@200;300;400&display=swap");

/* Common Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
}

.modal {
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgba(36, 27, 27, 0.692);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

#navMenu {
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 1
}

#navMenu > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: #818181;
}

#navMenu > span:not(:last-child) {
  margin-bottom: 7px;
}

#navMenu,
#navMenu > span {
  transition: all 0.4s ease-in-out;
}

#navMenu.active > span:nth-child(1) {
  transition-delay: 0.8s;
  transform: translateY(9px) rotate(-45deg);
}

#navMenu.active > span:nth-child(2) {
  width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}

#navMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

.sidenav {
  background-color: #000;
  width: 18%;
  min-height: 100%;
  position: fixed;
  overflow: auto;
  padding-top: 1.5rem;
}

.sidenav a {
  color: #818181;
  font-size: 0.875rem;
}

.sidenav a:hover {
  color: #d6d1d1;
}

.navbrand {
  padding: 0.5rem;
  text-align: center;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  font-weight: 500;
}

.song-elements.active {
    color: #fff;
}

.line {
  border: 1px solid #2e2d2d;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
}

.container {
  background-color: #1d1c1c;
  margin-left: 18%;
  width: 80%;
  height: 100%;
  padding: 3rem 4rem;
  position: fixed;
  box-sizing: content-box;
  overflow: auto;
}

.title {
  color: #d6d1d1;
}

.playlist,
.song {
  display: flex;
  flex-wrap: wrap;
}

.mar15 {
  margin: 1.5rem;
}

.playlist-object {
    cursor: pointer;
}

.card {
  position: relative;
  background-color: #333131;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

.card:hover {
  background-color: #585555;
}

.add-song {
  position: absolute;
  width: 50px;
  top: -17px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.add-song:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.playlist img {
  height: 10rem;
}

.song img {
  height: 6rem;
}

.card h4 {
  width: 8rem;
  color: #dfdfdf;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: auto;
}

.card h4:hover {
  cursor: pointer;
  text-shadow: 2px 2px #000;
}

.card p {
  color: #818181;
  width: 8rem;
  padding: 0.5rem;
}

.media-space {
  height: 200px;
}

.title-author {
  display: none;
  overflow-x: hidden;
}

.song-title-author {
  animation-name: rightToLeft;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-280px);
  }
}

.see-more {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #1d1c1c;
  text-align: center;
  border-radius: 8px;
}

.see-more a {
  color: #818181;
  position: relative;
  bottom: -10rem;
  font-size: 0.8rem;
  font-weight: 900;
}

.see-more a:hover {
  color: #fff;
}

.media-player {
  background: #333131c4;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*======= Media Player ===========*/

.title-music-container {
  margin-top: 20px;
  width: 80%;
  height: 80%;
  width: fit-content;
  color: #818181;
}

.song-title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.song-author {
  margin-top: 0.5rem;
  font-size: 12px;
  color: rgb(167, 167, 167);
  letter-spacing: 0.1px;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.music-player-container {
  width: 35vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls-music-container {
  padding-top: 1rem;
  width: 80%;
  height: fit-content;
  justify-content: center;
}

.progress-song-container {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar {
  height: 3px;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(102, 102, 102);
  position: relative;
}

.progress {
  position: absolute;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background-color: white;
}

.time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.time-left {
  margin-top: 0.3rem;
}

.main-song-controls {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 100%;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  margin: 0.5rem;
}

.icon:hover {
  opacity: 1;
}

audio {
  display: none;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  background: #1a1919;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #829191;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.volume-controls {
  height: 25px;
  display: flex;
  align-items: center;
}
