@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700;900&display=swap");

/* Common Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.mar08 {
  margin: 0.8rem;
}

.sidenav {
  background-color: #000;
  width: 18%;
  height: 100%;
  position: fixed;
  overflow: auto;
  padding-top: 1.5rem;
}

.sidenav a {
  color: #818181;
  font-size: 0.875rem;
}

.sidenav a:hover {
  color: #d6d1d1;
}

.nav-item {
  display: flex;
  padding: 0.8rem 2rem;
  font-weight: 400;
}

.nav-item a i {
  margin-right: 10px;
}

/* Sidebar song */
.sidenav .song-elements {
  font-size: 0.8rem;
  cursor: pointer;
}

.song-elements.active {
  color: #fff;
}

.line {
  border: 1px solid #2e2d2d;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
}

/* containers */

.container {
  background-color: #111111;
  margin-left: 18%;
  width: 80%;
  height: 100%;
  padding: 3rem 4rem;
  position: fixed;
  box-sizing: content-box;
  overflow: auto;
}

.title {
  color: #d6d1d1;
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.playlists,
.songs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
}

.playlist-object,
.song {
  cursor: pointer;
}

/* Cards Section */

.card {
  position: relative;
  background-color: #252424;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 13rem;
}

.card:hover {
  background-color: #585555;
}

.add-song {
  position: absolute;
  width: 50px;
  top: 17px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.add-song:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px #111);
}

.hidden {
  visibility: hidden;
}

.playlist-object img {
  width: 100%;
  max-height: 11rem;
  object-fit: cover;
}

.song .song-img {
  width: 100%;
  height: 7rem;
  object-fit: cover;
}

.card h4 {
  font-weight: 700;
  font-size: 14px;
  color: #dfdfdf;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 8rem;
  margin: 10px auto 0;
}

.card p {
  font-size: 0.8rem;
  color: #818181;
  margin: 10px auto;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.media-space {
  height: 200px;
}

.title-author {
  display: none;
  overflow-x: hidden;
}

.song-title-author {
  animation-name: rightToLeft;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-280px);
  }
}

.see-more {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.see-more a {
  display: block;
  margin: auto;
  color: #818181;
  font-size: 0.8rem;
  font-weight: 900;
}

.see-more a:hover {
  color: #fff;
}

.media-player {
  background: #333131c4;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*======= Media Player ===========*/

.son-info {
  width: 80%;
  width: fit-content;
  color: #818181;
}

.son-info .lef {
  float: left;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.son-info .right {
  float: right;
}

.playing-song-img {
  display: none;
  width: 4rem;
}

.song-title {
  display: flex;
  text-transform: capitalize;
  color: #ccc;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.song-author {
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 12px;
  color: rgb(167, 167, 167);
  letter-spacing: 0.1px;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.music-player-container {
  width: 35vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls-music-container {
  padding-top: 1rem;
  width: 80%;
  height: fit-content;
  justify-content: center;
}

.progress-song-container {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar {
  height: 3px;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(102, 102, 102);
  position: relative;
}

.progress {
  position: absolute;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background-color: white;
}

.time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.time-left {
  margin-top: 0.3rem;
}

.divisor {
  visibility: hidden;
}

.main-song-controls {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 100%;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  margin: 0.5rem;
}

.icon:hover {
  opacity: 1;
}

audio {
  display: none;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  background: #1a1919;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #829191;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.volume-controls {
  height: 25px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 601px) {
  /* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #111111;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #363636;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #222222;
  }

  .sidenav {
    padding-bottom: 100px;
  }
}
